.app__main_dayResultsUser_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;

    p{
        width: 50%;
        text-align: center;
    }

    span{
        width: 50%;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
        text-align: center;
    }
}