.rating{
    width: 85%;
    height: 100%;
    margin: 15px 10px;
}

.rating__title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.rating__table{
    width: 100%;
    border-collapse: collapse;

    th{
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
    }

    td{
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
    }
}

.rating__pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 55%;
}

.rating__pagination_btn{
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.rating__pagination_btn.active{
    background-color: #ccc;
}

.rating__pagination_btn:hover{
    background-color: #ccc;
}