.app__main_player{
    width: 85%;
    height: 100vh;
}

.app__main_player_title{
    font-size: 32px;
    font-weight: 600;
    padding-left: 40px;
    padding-top: 20px;
}

.app__main_player_content{
    display: flex;
}

.app__main_player_trends{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-right: 10px;
    padding-left: 40px;
    border-right: 1px solid #ccc;

    h3{
        text-align: center;
    }

    p{
        font-size: 18px;
        font-weight: 600;
    }
}

.app__main_player_raitingChange{
    padding-left: 40px;
    width: 60%;

    span{
        font-size: 18px;
        font-weight: 600;
    }
}

.app__main_player_raitingChange_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    div{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        border: 1px solid #ccc;
    }
}