.app__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px 20px;
    background-color: rgb(40, 44, 47);
    position: relative;
}

.app__heeader_title {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0;
    text-align: center;
}

.app__header__side,
.app__header__logo {
    width: 100px; /* Same width to keep center aligned */
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__header__logo {
    height: 40px;
    width: auto;
}

.app__header__center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}
